form {
  gap: 10px;
}

.form-control {
  border: 0;
  padding: 20px 23px;
  border-radius: 20px;
}

.form-control::placeholder {
  color: #a8a8a8;
}

.form-control:focus {
  box-shadow: none;
}

@media screen and (max-width: 1230px) {
  .form-control {
    font-size: 13px;
  }
}

@media screen and (max-width: 1090px) {
  .form-control {
    font-size: 11px;
    padding: 10px 13px;
  }
}

@media screen and (max-width: 500px) {
  .form-control {
    display: none;
  }
}