.container {
  margin-top: 20px;
  max-width: 100%;
}

.row {
  gap: 20px;
  margin: 0 30px 0 30px;
  padding: 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 0;
}

.home__content .products-emphasis p,.home__content h2 {
  text-align: center;
} 

.col p {
  margin-top: 35px;
  margin-bottom: 65px;
  font-weight: var(--font-width-small);
}

.col-text {
  flex-basis: 45%;
  padding: 0 50px;
}

.col-text p {
  max-width: 400px;
}

.col-text .fa-arrow-right {
  background-color: #ff8623;
  padding: 10px;
  border-radius: 100%;
}

.col img {
  max-width: 500px;
  border-radius: 15px;
}

.products-emphasis {
  margin-top: 100px;
}

.products-emphasis__text {
  gap: 15px;
}

.products-emphasis .col-md-2{
  width: 300px;
}

.row {
  gap: 21px;
}

.list-products .row>* {
  padding-right: 0; 
  padding-left: 0;
}

.list-products {
  margin-top: 35px;
}

@media screen and (max-width: 1030px) {
  .col-text {
    padding: 60px 50px;
  }

  .col-text p {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .col-img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .row {
    margin: 0;
  }
}


