.product {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.product .product__image {
  display: flex;
  justify-content: center;
}

.product .product__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-top: 25px;
}