.header {
  margin: 10px 40px;
  border-radius: 10px;
}

.header .container-fluid {
  padding: 15px 25px;
}

.navbar-nav {
  margin-left: 40px;
  gap: 40px;
}

.navbar-brand img {
  max-width: 170px;
}

.nav-link, .form-control {
  font-weight: var(--font-width-medium);
  font-size: 16px;
}

.nav-link, .nav-link:hover, .nav-link:active {
  color: #585858;
}

@media screen and (max-width: 1230px) {
  .nav-link, .form-control {
    font-size: 13px;
  }

  .navbar-nav {
    margin-left: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 1090px) {
  .nav-link {
    font-size: 11px;
  }

  .navbar-nav {
    margin-left: 17px;
    gap: 17px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    margin: 10px 10px;
  }
}
