.buttonicon__content .btn {
  display: flex;
  align-items: center;
  font-weight: var( --font-width-medium);
  font-size: 16px;
  gap: 7px;
}

.buttonicon__content .btn,.buttonicon__content .form-control {
  padding: 20px 23px;
  border-radius: 15px;
}

.buttonicon__content .btn-primary {
  background-color: var(--orange-medium);
  border: var(--orange-medium);
}

.buttonicon__content .btn-primary:hover,.buttonicon__content .btn-primary:active,.buttonicon__content .btn-primary:focus,.buttonicon__content .btn-primary:focus-visible {
  background-color: var(--orange-dark);
  border: var(--orange-dark);
}

.buttonicon__content :not(.btn-check)+.btn:active {
  background-color: var(--orange-dark);
  border: var(--orange-dark);
}

@media screen and (max-width: 1230px) {
  .buttonicon__content .btn {
    font-size: 13px;
  }
}

@media screen and (max-width: 1090px) {
  .buttonicon__content .btn {
    font-size: 11px;
  }
}
