body {
  font-family: var(--font-Montserrat);  
}

h1, h2 {
  font-size: 46px;
  font-weight: var(--font-width-big);
  font-family: var(--font-Arial);
}

h2 {
  font-size: 38px;;
}

h3 {
  font-size: 15px;
  font-weight: var(--font-width-big);
}

h4 {
  font-size: 23px;
  font-weight: var(--font-width-big);
}

p {
  font-size: 16px;
  font-weight: var(--font-width-small);
  line-height: var(--line-height); 
}
